#performace-watch.step(data-y='500', data-x='1250', data-scale='.5')
	h2 
		| performance
		small $watch and $digest
	p The number and type of watches occuring within digests will almost certainly be responsible for application performance problems

#performace-expressions.step(data-y='500', data-x='1250', data-rotate-y='90', data-rotate-x='-90', data-z='-500', data-scale='.5')
	h2 
		| performance
		small expressions
	p Remember that expressions can be evaluated many times per $digest.
	pre.example
		div= '<input type="text"'
		div= '  ng-model="myInput"'
		div= '  ng-class="{ valid: /^shouldMatch$/.test(myInput) }"'
		div= '/>'

#performace-ng-repeat.step(data-y='500', data-x='1250', data-rotate-y='90', data-rotate-x='-90', data-z='-1000', data-scale='.5')
	h2 
		| performance
		small ng-repeat
	p
		code ng-repeat
		|  acts as a force multiplier.
	pre.example
		div= '<tr ng-repeat="x in _.range(1e6)">'
		div= '  <td>{{ Math.log(x) }}</td>'
		div= '</tr>'

#performance-bindonce.step(data-y='500', data-x='1250', data-rotate-y='90', data-rotate-x='-90', data-z='-1500', data-scale='.5')
	include bindonce
